@use "constants" as *;

div#about-background {
  background: linear-gradient($brightBlue 0%, $lightPurple 50%, $deepBlue 100%);
}

main.about {
  overflow-x: hidden;
  position: relative;

  .voice {
    padding: 6rem 1.5rem 2rem 1.5rem;
    min-height: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    .title {
      svg {
        width: 100%;
        height: auto;
      }
      padding-bottom: 2rem;
      z-index: 1;
    }

    .c-statement {
      p {
        color: $black;
      }
      .p1 {
        margin-bottom: 1rem;
      }
      z-index: 1;
    }
  }

  .festival {
    position: relative;
    margin: -1.1vh 0 0;
    padding: 4rem 1.5rem;

    & > * {
      z-index: 10;
    }

    .mission {
      padding: 2rem 1.5rem;
      background: #7d30beb3;
      border-radius: 40px;
      h2 {
        margin-bottom: 0.5rem;
      }
    }
    .history {
      padding: 2rem 1.5rem;
      background: #0fa5dccc;
      border-radius: 40px;
      margin-top: 2rem;
      h2 {
        margin-bottom: 0.5rem;
      }
    }
  }

  .people {
    z-index: 1;
    position: relative;
    padding: 4rem 1.5rem;

    & > * {
      z-index: 10;
    }

    a {
      color: $lightestBlue;
      &:visited {
        color: $brightBlue;
      }
    }
    h2 {
      color: $white;
      margin-bottom: 1rem;
    }
    .staff-item {
      .staff-name {
        // color: $lightestBlue;
      }
    }
    .thinkers {
      margin-top: 3rem;
      .thinkers-title {
        // color: $white;
        margin-bottom: 0.5rem;
      }
      .thinker-item {
        .thinker-name {
          // color: $black;
        }
        .thinker-links {
          display: flex;
          gap: 1rem;
        }
      }
    }

    // color: $l;

    .staff-item,
    .thinker-item {
      margin-bottom: 1rem;
      border-top: 1px solid $beige;
      padding-top: 0.5rem;
    }

    #blog-button {
      margin-top: 1.5rem;
    }
  }

  .city-illustration {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
    svg {
      width: 65vw;
      height: auto;
      margin-right: 8vw;
    }
  }

  .partners {
    background: linear-gradient($lightBlue 0%, $brightBlue 100%);
    position: relative;
    padding: 2rem 1.5rem;
    a,
    p,
    h2 {
      color: $darkBlue;
    }

    &::before {
      content: "";

      // Z-index on children causing glitch with body background, necessitates a z-index on ::before
      z-index: -1;
      position: absolute;
      width: 100%;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
    }

    // The following works on every other section

    // & > * {
    //   z-index: 10;
    // }

    h2 {
      margin-bottom: 1rem;
    }
    .partner-container {
      border-top: 1px solid $darkBlue;
      img {
        max-width: 100%;
        height: auto;
        padding: 0 0;
      }
      margin-bottom: 3rem;
      .partner {
        &:last-child {
          // Set no margin on the last partner area
          margin-bottom: 0;
        }
      }
    }
    .partner-logo {
      margin-bottom: 1.5rem;
      max-width: 100%;
    }
    .button {
      margin-top: 1rem;
      color: $lightestBlue;
    }
  }

  .support-background {
    background: linear-gradient($deepBlue 0%, $brightPurple 100%);
  }
  .support {
    z-index: 1;
    position: relative;
    padding: 4rem 1.5rem;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.25;
    }

    & > * {
      z-index: 10;
    }

    a {
      color: $black;
      &:visited {
        color: #443f43;
      }
    }

    h2 {
      margin-bottom: 2rem;
    }
    h3 {
      margin-bottom: 1rem;
    }
    .dedication {
      margin-bottom: 2rem;
    }
    .thanks {
      margin-bottom: 2rem;
    }
  }

  .desert-illustration {
    position: relative;
    z-index: 0;
    svg {
      width: 65vw;
      height: auto;
      margin-left: 8vw;
    }
  }

  .cloud {
    z-index: 0;
    position: absolute;
    overflow-x: hidden;
    &#cloud-01 {
      top: 52vw;
      right: 36vw;
      height: 50vw;
    }
    &#cloud-02 {
      height: 35vw;
      top: -20vw;
      right: 19vw;
    }
    &#cloud-03 {
      bottom: 18vw;
      left: -15vw;
      height: 46vw;
    }
    &#cloud-04 {
      bottom: 12vw;
      left: 44vw;
      height: 22vw;
    }
  }
}
