@use "constants" as *;

main.artist-listing {
  background: linear-gradient($lightestBlue, $lightBlue 100%);
  padding: 6rem 1.5rem;
  section.artists {
    span.page-title {
      margin-bottom: 2rem;
    }
    span.artist-letter {
      color: $darkBlue;
      margin-bottom: 1rem;
    }
    .artist-container {
      border-top: 1px solid $brightBlue;
      padding: 1rem 0;
      .button {
        margin-top: 0.5rem;
      }
      .list-thumb {
        display: none;
      }
      .artist-copy {
        h3,
        h4 {
          color: $darkBlue;
          margin-top: 0.5rem;
        }
      }
    }
    .container-link {
      display: none;
    }
  }
}
