@use "constants" as *;

main.donate {
  .page-title {
    svg {
      width: 100%;
      height: auto;
    }
  }
  background: linear-gradient($brightBlue, $brightPurple 100%);
  padding: 6rem 1.5rem 2rem 1.5rem;
  color: $darkBlue;
  h3 {
    color: $darkBlue;
  }

  div.payment-method {
    border-top: 1px solid $darkBlue;
    padding-top: 1rem;
    margin-top: 2rem;
    p {
      margin: 1rem 0;
    }
  }
}
