@use "constants" as *;

main.home {
  * :not(#frontpage-background) {
    @include page-slide;
  }

  background: linear-gradient(180deg, $darkBlue 23%, $deepBlue 45%);

  .heading {
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: $deepPurple;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 1rem 0 1rem;

    .title-shape {
      display: none;
    }

    .top-shapes {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem;
      width: 100%;
      height: 100px;
      padding: 1rem 0;
    }

    #top-shape-1 {
      flex-grow: 2;
      background: linear-gradient(180deg, $brightBlue, $brightPurple 100%);
      border-radius: 16px;
    }
    #top-shape-2 {
      flex-grow: 1;
      background: linear-gradient(180deg, $lightPurple, #0c47b0 100%);
      border-radius: 25px;
    }
    #top-shape-3 {
      flex-grow: 3;
      background: linear-gradient(-81deg, #007ee5, #3ba4ca 73%);
    }

    .bottom-shapes {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem;
      width: 100%;
      height: 100px;
      padding: 1rem 0;
    }
    #bottom-shape-1 {
      flex-grow: 3;
      background: linear-gradient(180deg, $lightPurple, $brightPurple 100%);
      mask: radial-gradient(16px at 16px 16px, #0000 98%, #000) -16px -16px;
    }
    #bottom-shape-2 {
      flex-grow: 2;
      border-radius: 51px;
      background: linear-gradient(
        49deg,
        $brightPurple,
        #5324ef 50%,
        #0079d5 100%
      );
    }

    #title {
      padding: 3rem 1.5rem;
      position: relative;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;

      svg {
        width: 100%;
        height: auto;
      }

      .title-images {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        padding: 1rem 0;
      }
      .title-group {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        p {
          text-align: center;
          margin-bottom: 0;
        }
      }
    }
  }

  #about,
  #dates,
  #artists,
  #volunteer,
  #mailing-list {
    padding: 1.5rem;
    padding-top: 2rem;
  }

  #dates {
    position: relative;
    padding-top: 4rem;
    display: flex;
    flex-flow: column nowrap;
    .date-locations {
      z-index: 2;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      li {
        margin-top: 0.5rem;
      }
    }
    svg {
      position: absolute;
      z-index: 1;
      // margin-top: 2rem;
      bottom: 0;
      right: 0;
      padding: 0 1.5rem 3.5rem;
    }
  }

  #about {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    .about-frame {
      width: 100%;
      height: 100%;
      background: #0b005099; // $darkBlue with 60% opacity
      border-radius: 52px;
    }

    .about-text {
      padding: 4rem 1.5rem;
      .byline {
        margin-bottom: 2rem;
      }
      max-width: 72vw;
      div.curatorial {
        p.sm {
          line-height: 1.2em;
        }
      }
      a {
        margin-top: 1rem;
      }
    }
  }

  #artists {
    .artists-frame {
      padding: 4rem 1.5rem;
      position: relative;
      z-index: 0;
      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        background: $lightPurple;
        mask: radial-gradient(
              18px at 18px 18px,
              #0000 calc(98% - 3px),
              #000 calc(100% - 3px) 98%,
              #0000
            ) -18px -18px,
          linear-gradient(90deg, #000 6px, #0000 0) -3px 50% /100%
            calc(100% - 36px + 3px) repeat-x,
          linear-gradient(#000 6px, #0000 0) 50% -3px / calc(100% - 36px + 3px) 100%
            repeat-y;
      }
    }
    padding-bottom: 6rem;

    .artists-heading {
      h2 {
        padding-bottom: 1rem;
      }
    }

    .artists-buttons {
      display: flex;
      flex-flow: column wrap;
      gap: 0.5rem;
      margin-bottom: 1rem;
    }
    .artists-list {
      li {
        margin-top: 0.5rem;
      }
    }
  }

  #volunteer {
    @include twelve-col-grid;
    column-gap: 0;
    row-gap: 1rem;
    padding-bottom: 6rem;
    p {
      grid-area: 1/2/ 2/8;
      padding-right: 2rem;
    }
    div.text {
      grid-area: 1/8/ 1/13;
    }
  }

  #mailing-list {
    position: relative;
    z-index: 1;
    @include twelve-col-grid;
    column-gap: 0;
    row-gap: 1rem;
    padding-bottom: 6rem;
    background: $brightBlue;
    .text {
      grid-area: 1/1/ 2/12;
    }
    #mc_embed_shell {
      grid-area: 2/1/ 3/13;
      font-family: $primary-type;
      .asterisk {
        color: red;
      }
      .indicates-required {
        text-align: right;
        font-size: 0.8rem;
      }
      .mc-field-group {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        input {
          padding: 0.5rem;
        }
      }
      .optionalParent {
        div {
          display: flex;
          input.button {
            font-size: 1.2rem;
            line-height: 1em;
            border: 1px solid $navyBlue;
            background: $navyBlue;
            color: white;
            margin-top: 1rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 1.875rem;
          }
          p {
            display: flex;
            padding-top: 1rem;
          }
        }
      }
    }
  }
}
