@use "constants" as *;

main.home {
  * :not(.bg-wrapper, .page-down) {
    @include page-slide;
  }

  position: relative;

  background: linear-gradient(180deg, $darkBlue 23%, $deepBlue 45%);

  // &::before {
  //   content: "";
  //   position: absolute;
  //   background: url(assets/Overlay_Mobile.jpg) top center no-repeat scroll;
  //   top: 0px;
  //   width: 100%;
  //   height: 100%;
  //   opacity: 0.8;
  //   z-index: 100;
  //   background-size: cover;
  // }

  #frontpage-background {
    mix-blend-mode: color-dodge;
    position: fixed;
    background: url(assets/Overlay_Mobile.jpg);
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    // z-index: 1000;
    // background-size: cover;
  }

  .header {
    // height: 100vh;
    // z-index: 0;
    min-height: 80vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: $deepPurple;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 2rem 0;

    .top-shapes {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem;
      width: 100%;
      height: 100px;
      padding: 1rem 0;
      z-index: -10;
    }
    #top-shape-1 {
      flex-grow: 2;
      background: linear-gradient(180deg, $brightBlue, $brightPurple 100%);
      border-radius: 16px;
    }
    #top-shape-2 {
      flex-grow: 1;
      background: linear-gradient(180deg, $lightPurple, #0c47b0 100%);
      border-radius: 25px;
    }
    #top-shape-3 {
      flex-grow: 3;
      background: linear-gradient(-81deg, #007ee5, #3ba4ca 73%);
    }

    .bottom-shapes {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem;
      width: 100%;
      height: 100px;
      padding: 1rem 0;
    }
    #bottom-shape-1 {
      flex-grow: 3;
      background: linear-gradient(180deg, $lightPurple, $brightPurple 100%);
      mask: radial-gradient(16px at 16px 16px, #0000 98%, #000) -16px -16px;
    }
    #bottom-shape-2 {
      flex-grow: 2;
      border-radius: 51px;
      background: linear-gradient(
        49deg,
        $brightPurple,
        #5324ef 50%,
        #0079d5 100%
      );
    }

    #title {
      padding: 3rem 1.5rem;
      z-index: 20;
      position: relative;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;

      svg {
        width: 100%;
        height: auto;
      }

      .title-images {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        padding: 1rem 0;
      }
    }

    // .page-down {
    //   z-index: 20;
    //   max-width: 100%;
    //   height: auto;
    //   position: absolute;
    //   bottom: 0;
    // }
  }

  #about,
  #dates,
  #artists,
  #volunteer,
  #mailing-list {
    padding: 1.5rem;
    padding-top: 6rem;
  }

  #dates {
    margin: 0 1rem;
    padding-top: 6rem;

    @include twelve-col-grid;
    column-gap: 0;
    row-gap: 1rem;

    .date-text {
      grid-area: 1/1/ 2/12;
      display: grid;
    }
    .date-locations {
      grid-area: 2/1/ 3 / end;
      li {
        margin-top: 0.5rem;
      }
    }
  }

  #about {
    z-index: 0;
    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0b005099; // $darkBlue with 60% opacity
      border-radius: 52px;
    }
    position: relative;
    margin: 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    .byline {
      margin: 0 auto 4rem auto;
      max-width: max-content;

      display: grid;
      grid-template-columns: repeat(12, 1fr);

      #byline-1 {
        grid-area: 1/1/ 2 / end;
      }
      #byline-2 {
        grid-area: 2/1/ 3 / end;
      }
    }

    .about-text {
      max-width: 72vw;
      align-self: center;
      div.curatorial {
        margin-bottom: 2rem;
        p.sm {
          line-height: 1.2em;
        }
      }
    }
  }

  #artists {
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: $lightPurple;
      mask: radial-gradient(
            18px at 18px 18px,
            #0000 calc(98% - 3px),
            #000 calc(100% - 3px) 98%,
            #0000
          ) -18px -18px,
        linear-gradient(90deg, #000 6px, #0000 0) -3px 50% /100%
          calc(100% - 36px + 3px) repeat-x,
        linear-gradient(#000 6px, #0000 0) 50% -3px / calc(100% - 36px + 3px) 100%
          repeat-y;
    }
    margin: 1.5rem 1rem;
    position: relative;
    @include twelve-col-grid;
    column-gap: 0;
    row-gap: 1rem;
    padding-bottom: 6rem;

    .artists-heading {
      grid-area: 1/1/ 2/10;

      h2 {
        // max-width: max-content;
        // display: flex;
        // grid-template-columns: repeat(9, 1fr);

        #artists-count {
          // grid-area: 1/1/ 2 / end;
          // justify-self: end;
        }
        #artists-projects {
          // grid-area: 2/1/ 3 / end;
        }
      }
    }
    .artists-buttons {
      grid-area: 2/6/ 3 / end;
    }
    .artists-list {
      grid-area: 3/1/ 10/12;
      li {
        margin-top: 0.5rem;
      }
    }
  }

  #volunteer {
    @include twelve-col-grid;
    column-gap: 0;
    row-gap: 1rem;
    padding-bottom: 6rem;
    p {
      grid-area: 1/2/ 2/8;
      padding-right: 2rem;
    }
    div.text {
      grid-area: 1/8/ 1/13;
    }
  }

  #mailing-list {
    @include twelve-col-grid;
    column-gap: 0;
    row-gap: 1rem;
    padding-bottom: 6rem;
    background: $brightBlue;
    .text {
      grid-area: 1/1/ 2/12;
    }
    #mc_embed_shell {
      grid-area: 2/1/ 3/13;
      font-family: $primary-type;
      .asterisk {
        color: red;
      }
      .indicates-required {
        text-align: right;
        font-size: 0.8rem;
      }
      .mc-field-group {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        input {
          padding: 0.5rem;
        }
      }
      .optionalParent {
        div {
          display: flex;
          input.button {
            font-size: 1.2rem;
            line-height: 1em;
            border: 1px solid $navyBlue;
            background: $navyBlue;
            color: white;
            margin-top: 1rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 1.875rem;
          }
          p {
            display: flex;
            padding-top: 1rem;
          }
        }
      }
    }
  }
}
