@use "constants" as *;

main.home {
  * :not(.bg-wrapper, .page-down) {
    @include page-slide;
  }

  background: linear-gradient(180deg, #0b0050 23%, #0a008e 45%);

  // #frontpage-background {
  //   position: fixed;
  //   top: 0px;
  //   width: 100vw;
  //   height: 100vh;
  //   // background: url(assets/Homepage_BG.jpg) top center no-repeat scroll;
  //   opacity: 0.8;
  //   z-index: -100;
  //   background-size: cover;
  // }

  .header {
    // height: 100vh;
    z-index: 0;
    position: relative;
    min-height: 65vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: #320784;
    border-bottom-left-radius: 180px;
    border-bottom-right-radius: 180px;

    #pattern-r-top {
      z-index: 10;
      position: absolute;
      right: 0;
      top: 13vh;
      width: 43vw;
    }

    #title {
      padding: 3rem 1.5rem;
      z-index: 20;
      position: relative;

      h1 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        @include title-display;
      }
      #title-1 {
        grid-area: 1/2/2/12;
      }
      #title-2 {
        grid-area: 2/3/3/13;
      }
      #title-3 {
        grid-area: 3/9/4/12;
        justify-self: end;
      }
      #title-4 {
        grid-area: 4/6/5/11;
        justify-self: end;
      }
    }

    #pattern-l-top {
      z-index: 10;
      position: absolute;
      left: 0;
      top: -1vh;
      width: 48vw;
    }

    .page-down {
      z-index: 20;
      max-width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
    }
  }

  #about,
  #dates,
  #artists,
  #volunteer,
  #mailing-list {
    padding: 1.5rem;
    padding-top: 6rem;
  }

  #dates {
    padding-top: 6rem;

    @include twelve-col-grid;
    column-gap: 0;
    row-gap: 1rem;

    .date-text {
      grid-area: 1/2/ 2/12;
      line-height: 0.8em;
      // max-width: fit-content;
      display: grid;
      // flex-flow: column nowrap;
      // align-items: center;
    }
    .date-buttons {
      grid-area: 2/1/ 3 / end;
      justify-self: end;
    }
    .date-care {
      grid-area: 3/2/ 4/12;
    }
  }

  #pattern-r-mid {
    z-index: -1;
    position: absolute;
    right: 0;
    top: -5vh;
    width: 49vw;
  }

  #pattern-l-mid {
    z-index: -1;
    position: absolute;
    left: 9vw;
    top: 12vh;
    width: 60vw;
  }

  #about {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    .byline {
      margin: 0 auto 4rem auto;
      max-width: max-content;

      display: grid;
      grid-template-columns: repeat(12, 1fr);

      #byline-1 {
        grid-area: 1/1/ 2 / end;
      }
      #byline-2 {
        grid-area: 2/2/ 3 / end;
      }
      #byline-3 {
        grid-area: 3/3/ 4 / end;
      }
      #byline-4 {
        grid-area: 4/3/ 5 / end;
      }
    }

    .about-text {
      max-width: 72vw;
      align-self: center;
      div.curatorial {
        margin-bottom: 2rem;
        p.sm {
          line-height: 1.2em;
        }
      }
    }
  }

  #artists {
    @include twelve-col-grid;
    column-gap: 0;
    row-gap: 1rem;
    padding-bottom: 6rem;

    .artists-heading {
      grid-area: 1/1/ 2/10;

      h2 {
        // max-width: max-content;
        display: grid;
        grid-template-columns: repeat(9, 1fr);

        #artists-count {
          grid-area: 1/1/ 2 / end;
          // justify-self: end;
        }
        #artists-projects {
          grid-area: 2/2/ 3 / end;
        }
      }
    }
    .artists-buttons {
      grid-area: 2/6/ 3 / end;
    }
    .artists-list {
      grid-area: 3/2/ 4/12;
    }
  }

  #volunteer {
    @include twelve-col-grid;
    column-gap: 0;
    row-gap: 1rem;
    padding-bottom: 6rem;
    p {
      grid-area: 1/2/ 2/8;
      padding-right: 2rem;
    }
    div.text {
      grid-area: 1/8/ 1/13;
    }
  }

  #mailing-list {
    @include twelve-col-grid;
    column-gap: 0;
    row-gap: 1rem;
    padding-bottom: 6rem;
    background: $brightBlue;
    .text {
      grid-area: 1/1/ 2/12;
    }
    #mc_embed_shell {
      grid-area: 2/1/ 3/13;
      font-family: $primary-type;
      .asterisk {
        color: red;
      }
      .indicates-required {
        text-align: right;
        font-size: 0.8rem;
      }
      .mc-field-group {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        input {
          padding: 0.5rem;
        }
      }
      .optionalParent {
        div {
          display: flex;
          input.button {
            font-size: 1.2rem;
            line-height: 1em;
            border: 1px solid $navyBlue;
            background: $navyBlue;
            color: white;
            margin-top: 1rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 1.875rem;
          }
          p {
            display: flex;
            padding-top: 1rem;
          }
        }
      }
    }
  }
}
