@use "constants" as *;

@media screen and (min-width: 1080px) {
  h1,
  .h1 {
    font-size: 4rem;
  }
  h2,
  .h2 {
    font-size: 3rem;
  }

  .p2,
  span.p2,
  .p2r,
  .p2 p {
    font-size: 1.4rem;
  }

  // a.button,
  // div.button {
  //   padding: 0.5em 0.5em 0.35em 1em;
  // }

  //   Nav ##############################################################

  nav.top {
    padding: 0 3rem;
    width: calc(100% - 7rem);
  }

  // Front Page ##########################################################

  main.home {
    .header #title {
      @include padding-3rem;
      h1 {
        font-size: 10.2rem;
      }
    }

    #dates,
    #about,
    #artists {
      padding-bottom: 9rem;
      a.button {
        margin-top: 1rem;
      }
    }

    #dates {
      padding-top: 8rem;
    }

    #about {
      .byline {
        // padding-bottom: 12rem;
      }
    }
  }

  // About Page ############################################################

  main.about {
    .dress {
      @include padding-calc-3rem;
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
    .festival {
      @include padding-calc-3rem;
    }
    .people {
      @include padding-calc-3rem;
      .staff-item {
        // grid-template-columns: repeat(9, 1fr);

        grid-column: 2/12;
      }
      .thinkers {
        grid-column: 5/12;
      }
    }
    .partners {
      @include padding-calc-3rem;
    }
    .support {
      @include padding-calc-3rem;
    }
  }

  //   Artists listing page ################################################

  main.artist-listing {
    @include padding-3rem;
    min-height: 60%;
  }

  // Single Artist page ####################################################

  main.artist-single {
    padding: 0 3rem;

    section.project-img {
      // margin: 0 -3rem;
      // right: 3rem;
      // width: 90vh;
      // height: 90vh;
      // max-width: 800px;
      // max-height: 800px;
    }

    .project-info-grid {
      &::before {
        left: -3rem;
        width: calc(100% + 6rem);
      }
    }
  }

  // Schdule page ############################################################

  main.schedule {
    padding: 6rem 3rem 0 3rem;

    div.day {
      .public-program {
        min-height: 14rem;
      }
    }

    .schedule-bg-element {
      width: calc(100% + 6rem);
      margin-left: -3rem;
      &#schedule-bg-element1 {
        height: 50vw;
      }
      &#schedule-bg-element3 {
        height: 70vw;
      }
    }
  }

  //   Public Programs page ################################################

  main.public-programs {
    min-height: 60%;
    @include padding-3rem;
    .program-container {
      p {
        grid-column: 3/6;
      }
      .date-time {
        grid-column: 7/11;
      }
      a {
        grid-column: 11/13;
      }
      .date,
      .time,
      .location {
        display: flex;
        flex-flow: row nowrap;
        gap: 1.5rem;
        h4 {
          width: 6vw;
          display: block;
          flex-shrink: 0;
        }
      }
    }
  }

  // Donate ##################################################################

  main.donate {
    @include padding-3rem;
    min-height: 60%;
  }

  // Press ##################################################################

  main.press {
    min-height: 70%;
    section.press-posts {
      @include padding-3rem;
    }
  }

  // Footer ##################################################################

  footer {
    padding: 3rem;
    #footer-social {
      grid-column: 9/11;
    }
  }
}
