@use "constants" as *;

main.press {
  background: linear-gradient($lightPurple 0%, $brightPurple 100%);
  .title {
    svg {
      width: 100%;
      height: auto;
    }
    padding: 6rem 1.5rem 0 1.5rem;
  }
  section.press-posts {
    padding: 4rem 1.5rem;
    .press-container {
      border-top: 1px solid $lightestBlue;
      margin: 2rem 0;
      .press-publication {
        padding: 1rem 0 0.5rem 0;
      }
      p.press-title {
        padding: 0.5rem 0;
      }
      p.press-date {
        padding: 0.5rem 0;
        // border-top: 1px dashed $primary-magenta;
        margin-bottom: 0.5rem;
      }
      a.button {
        margin-top: 1rem;
        color: $black;
      }
    }
  }
}
