@use "constants" as *;

main.schedule {
  background: linear-gradient($deepBlue, $darkBlue 100%);
  padding: 6rem 1.5rem 2rem 1.5rem;
  .title {
    svg {
      width: 100%;
      height: auto;
    }
    padding-bottom: 2rem;
  }
  div.day {
    width: calc(100% - 3rem);
    margin: 2rem 1.5rem 0 1.5rem;
    .day-nav {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.5rem;
      margin-bottom: 2rem;
    }

    .day-header {
      margin-bottom: 0.5rem;
    }

    &#saturday,
    &#sunday {
      margin-top: 3rem;
    }
    h2 {
      margin-bottom: 0.5rem;
      margin-bottom: 1.5rem;
    }

    .project-schedule {
      border-top: 1px solid $brightBlue;
      padding-top: 1rem;
    }

    // .pp-container {
    //   h3,
    //   h4 {
    //     color: $black;
    //   }
    //   position: relative;
    //   a.program-link {
    //     display: none;
    //   }

    //   border-top: 1px solid $brightBlue;
    //   padding-top: 0.5rem;
    //   margin-bottom: 2rem;
    //   .button {
    //     margin-top: 0.5rem;
    //   }
    // }

    .listing-container {
      position: relative;
      a.schedule-link {
        display: none;
      }

      margin-bottom: 1rem;
      padding: 0.5rem 0;

      .button {
        margin-top: 0.5rem;
      }

      .schedule-thumb {
        display: none;
      }
    }
  }
}
