@use "constants" as *;

@media screen and (min-width: 720px) {
  h1,
  .h1 {
    font-size: 3.2rem;
  }
  h2,
  .h2 {
    font-size: 2.5rem;
  }
  h3,
  .h3 {
    font-size: 1.5rem;
  }
  h5,
  .h5 {
    font-size: 0.875rem;
  }

  .p1,
  span.p1,
  .p1r,
  .p1 p {
    font-size: 1.5rem;
  }

  .p2,
  span.p2,
  .p2r,
  .p2 p {
    font-size: 1.2rem;
  }

  a.button,
  div.button {
    padding: 0.2em 0.5em 0.1em 0.8em;
  }

  // Nav header ###########################################################

  nav.top {
    .menuVisible {
      display: block;
      margin-right: 1rem;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        list-style: none;

        li {
          a {
            @include nav-links;
            // text-transform: uppercase;
            text-decoration: none;
            color: $white;
            letter-spacing: 1px;
            &:hover {
              color: $blueCream;
            }
            &:focus {
              border-top: 1px solid $black;
            }
          }
        }
      }
    }

    .menuFull {
      // left: 120vw;

      // .bg-wrapper {
      //   &::before {
      //     content: "";
      //     position: absolute;
      //     width: 100%;
      //     overflow: hidden;
      //     top: 0px;
      //     right: 0px;
      //     bottom: 0px;
      //     left: 0px;
      //     opacity: 0.6;
      //   }
      // }
    }
  }

  // Front Page #########################################

  main.home {
    overflow-y: clip;
    .header {
      min-height: 75vh;
      background: url(assets/dress/tablet/home_header_2160w.jpg) fixed no-repeat;
      background-size: cover;
      background-position-x: 50%;

      #title {
        padding: 4rem 1.5rem;
        h1 {
          padding: 0;
          margin: auto;
          @include twelve-col-grid;
          grid-template-rows: repeat(4, 1fr);
          #title-1 {
            grid-column: 2/8;
            grid-row: 1/2;
          }
          #title-2 {
            grid-column: 3/13;
            grid-row: 2/3;
          }
          #title-3 {
            grid-column: 2/12;
            grid-row: 3/4;
            justify-self: end;
          }
          #title-4 {
            grid-column: 6/10;
            grid-row: 4/5;
          }
        }
      }

      #pattern-l-top {
        top: -12vh;
      }
    }

    #dates,
    #about,
    #artists,
    #mailing-list {
      padding-bottom: $seciton-padding-720;
    }

    #dates {
      column-gap: 1rem;
      row-gap: 2rem;
      .date-text {
        grid-column: 2/8;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 1rem;
        margin-bottom: -0.2em;

        .month {
          grid-column: 2/6;
          grid-row: 1/2;
        }
        .days {
          grid-column: 1/6;
          grid-row: 2/3;
        }
      }
      .date-buttons {
        grid-area: 1/8/ 2 / end;
        justify-self: start;
        align-self: end;
      }
      .date-care {
        grid-area: 2/3/ 3/11;
      }
    }

    #about {
      padding-top: 4rem;
      .byline {
        grid-column: 1 / end;
        grid-row: 1/2;
        margin: 0;
        padding-bottom: 2rem;
        @include twelve-col-grid;
        grid-template-rows: repeat(3, 1fr);
        #byline-1 {
          grid-column: 3 / end;
          grid-row: 1/2;
        }
        #byline-2 {
          grid-column: 5 / end;
          grid-row: 2/3;
        }
        #byline-3 {
          grid-column: 4 / end;
          grid-row: 3/4;
        }
        #byline-4 {
          grid-column: 5 / end;
          grid-row: 4/5;
        }
      }

      .about-text {
        align-self: normal;
        @include twelve-col-grid;
        row-gap: 1rem;
        p {
          grid-column: 4/11;
          grid-row: 1/2;
        }
        a {
          grid-column: 7 / end;
          grid-row: 3/4;
        }
        .curatorial {
          grid-column: 3/11;
          grid-row: 2/3;
        }
      }
    }

    #artists {
      padding-top: 4rem;
      column-gap: 1rem;
      row-gap: 2rem;

      .artists-heading {
        margin: 0;
        grid-column: 6/12;
        grid-row: 1/2;
        justify-self: normal;

        h2 {
          max-width: 100%;
          grid-template-columns: repeat(6, 1fr);
          column-gap: 1rem;
          margin-bottom: -0.2em;
          #artists-count {
            grid-area: 1/1/ 2/7;
            justify-self: start;
          }
          #artists-projects {
            grid-area: 2/2/ 3/7;
          }
        }
      }
      .artists-buttons {
        grid-column: 3/6;
        grid-row: 1/2;
        align-self: center;
      }
      .artists-list {
        grid-column: 3/11;
        grid-row: 2/3;
        p {
          line-height: 1.2em;
        }
      }
    }
    #volunteer {
      column-gap: 1rem;
      p {
        grid-area: 1/3/ 2/8;
        padding-right: 2rem;
      }
      div.text {
        grid-area: 1/8/ 1/12;
        padding-right: 2rem;
      }
    }
    #mailing-list {
      column-gap: 1rem;
      .text {
        grid-area: 1/3/ 2/7;
        padding-right: 4rem;
      }
      #mc_embed_shell {
        grid-area: 1/7/ 2/11;
        font-family: $primary-type;
      }
    }
  }

  // Single Artist page #######################################

  main.artist-single {
    margin: 0;
    @include twelve-col-grid;
    grid-auto-rows: auto;

    section.project-img {
      margin: 0;
      position: fixed;
      width: 100vh;
      height: 100vh;
      max-width: 600px;
      max-height: 600px;
      right: 1.5rem;

      div.image-mask {
        width: 90%;
        height: 90%;
        margin: 0px;
      }
    }

    div.project-info-grid {
      top: 0px;
      margin-top: 20vh;
      grid-column: 1/7;
      grid-row: 1;

      .day {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 1rem;
        align-items: top;
        padding: 0.5rem 0;
        h4 {
          grid-column: 1/6;
          grid-row: 1;
        }
        p.time {
          grid-column: 1/3;
          grid-row: 2;
          margin: 0px;
          padding: 0 1rem 0 0;
        }
        p.location {
          grid-column: 3/6;
          grid-row: 2;
          margin: 0px;
          padding: 0 1rem 0 0;
        }
      }
    }
  }

  // Schedule Page ##################################################

  // #schedule-background {
  // }
  main.schedule {
    padding: 0 1.5rem;
    .artists {
      margin: 0;
    }

    div.day {
      @include twelve-col-grid;
      margin-bottom: 4rem;
      width: 100%;
      &#saturday,
      &#sunday {
        margin-top: 0;
      }

      .day-header {
        grid-column: 1/5;
        grid-row: 1/2;
      }

      .day-nav {
        grid-column: 5/13;
        grid-row: 1/2;
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
      }

      .public-program {
        grid-column: 1/5;
        min-height: 18rem;
      }

      .pp-time,
      .artist-time {
        margin: 0;
        flex-shrink: 0;
      }

      .project-schedule {
        grid-column: 5/13;
      }

      .artist-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 1rem;
        .button {
          display: none;
        }
        a.schedule-link {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
        }
        .artist-time {
          grid-column: 1/3;
        }
        .artist-name {
          grid-column: 3/6;
        }
        .title-location {
          grid-column: 6/9;
          display: flex;
          flex-flow: column nowrap;
          gap: 0.5rem;
        }

        .schedule-thumb {
          width: 200px; /* Adjust as necessary */
          height: 200px; /* Adjust as necessary */
          border-radius: 50%; /* Make the background circular */
          overflow: hidden; /* Ensure the image fits within the circle */
          background-size: cover;
          background-position: center;
          display: flex;
          justify-content: center;
          align-items: center;
          // grid-column: 10/13;
          position: absolute;
          z-index: -1;
          opacity: 0;
          top: -45;
          left: -14vw;
          transform: scale(0); /* Initially small */
          transition: all ease-in-out 0.3s;
        }

        .sched-thumb-image {
          width: 80%;
          height: 80%;
          border-radius: 50%; /* Circular mask for the thumbnail */
          object-fit: cover; /* Ensures the image covers the whole div */
        }

        &:hover {
          .schedule-thumb {
            transform: scale(1);
            opacity: 0.65;
          }
        }
      }

      .pp-container {
        a.program-link {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
        }
        display: flex;
        gap: 1rem;
      }
    }
    .schedule-bg-element {
      z-index: -10;
      width: calc(100% + 3rem);
      margin-left: -1.5rem;
      &#schedule-bg-element1 {
        height: 53vw;
        img {
          right: -16vw;
        }
      }
      &#schedule-bg-element2 {
        height: 24vw;
        img {
          left: 10%;
        }
      }
      &#schedule-bg-element3 {
        height: 80vw;
        top: -28vw;
        img {
          left: -20vw;
        }
      }
      &#schedule-bg-element4 {
        height: 66vw;
        img {
          right: -5vw;
        }
      }
      &#schedule-bg-element5 {
        height: 50vw;
        img {
          left: 15%;
        }
      }
    }
  }

  // Public Programs page ###########################################

  main.public-programs {
    .program-container {
      @include twelve-col-grid;
      h3 {
        grid-column: 1/3;
      }
      p {
        grid-column: 3/7;
      }
      .date-time {
        grid-column: 7/11;
      }
      a {
        grid-column: 11/13;
        justify-self: right;
      }
      div.date {
        border: none;
        padding-top: 0;
      }
    }
  }

  // Artist listing page ####################################################

  main.artist-listing {
    section.artists {
      @include twelve-col-grid;
      span.page-title {
        grid-column: 1/13;
        margin-bottom: 1rem;
      }
      .artist-container {
        border-top: 0;
        position: relative;
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 1rem;
        padding: 0 0 1rem;
        margin: 0;

        span.artist-letter {
          position: absolute;
          grid-column: 1/3;
          font-size: 6rem;
          padding-left: 1rem;
        }

        .artist-copy {
          position: relative;
          grid-column: 3/11;
          border-top: 1px solid $mustard;
          padding-top: 0.5rem;
        }
        a.button {
          display: none;
        }

        .list-thumb {
          width: 200px; /* Adjust as necessary */
          height: 200px; /* Adjust as necessary */
          border-radius: 50%; /* Make the background circular */
          overflow: hidden; /* Ensure the image fits within the circle */
          background-size: cover;
          background-position: center;
          display: flex;
          justify-content: center;
          align-items: center;
          grid-column: 1/3;
          position: absolute;
          z-index: -1;
          opacity: 0;
          transform: scale(0); /* Initially small */
          top: -45;
          transition: all ease-out 0.3s;
        }

        .list-thumb-image {
          width: 80%;
          height: 80%;
          border-radius: 50%; /* Circular mask for the thumbnail */
          object-fit: cover; /* Ensures the image covers the whole div */
        }

        &:hover {
          .list-thumb {
            // right: 100;
            transform: scale(1); /* Initially small */
            opacity: 0.65;
          }
        }
      }

      .container-link {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

  // Donate page ############################################################

  .donate-bg-ripple {
    &#donate-ripple-1 {
      height: 50vw;
      top: -10vw;
      img {
        position: absolute;
        height: 100%;
        left: 55vw;
      }
    }
  }
  main.donate {
    @include twelve-col-grid;
    min-height: 50%;
    .page-title {
      grid-column: 1/12;
      grid-row: 1/2;
    }
    div.payment-method {
      margin-top: 0;
      grid-row: 2/3;
      &.paypal {
        grid-column: 1/6;
        padding-right: 2rem;
      }
      &.mail {
        grid-column: 7/12;
      }
    }
  }

  // Press page ###########################################################

  main.press {
    min-height: calc(100vh - 20rem);
    section.press-posts {
      .press-container {
        margin: 1rem 0;
        @include twelve-col-grid;
        .press-publication {
          grid-column: 1/6;
          grid-row: 1/2;
        }
        .press-title {
          // padding: 1rem 0 0.5rem 0;
          margin-top: 0.5rem;
          grid-column: 4/8;
          grid-row: 1/2;
        }
        p.press-date {
          margin-top: 1rem;
          border-top: 0;
          padding-top: 0;
          grid-column: 9/12;
          grid-row: 1/2;
        }
        .button {
          grid-column: 11/13;
          justify-self: end;
          grid-row: 1/2;
        }
      }
    }
  }

  // About Page ############################################################

  main.about {
    .dress {
      @include twelve-col-grid;
      align-items: center;
      .c-statement {
        grid-column: 3/11;
        p {
          margin-bottom: 1rem;
        }
      }
    }
    .festival {
      padding: 5rem 1.5rem;
      @include twelve-col-grid;
      grid-row-gap: 5rem;
      .mission {
        margin-right: 2rem;
        grid-column: 2/9;
        grid-row: 1/2;
      }
      .history {
        grid-column: 5/12;
        grid-row: 2/3;
        margin: 0;
      }
    }
    .people {
      @include twelve-col-grid;
      h2 {
        grid-area: 1 / 2 / 2 / 13;
      }
      .staff-item {
        margin-bottom: 0.2rem;
        grid-column: 2/12;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: 1rem;
        align-items: baseline;
        .staff-title {
          grid-column: 1/4;
          grid-row: 1/2;
        }
        .staff-name {
          grid-column: 4/7;
          grid-row: 1/2;
        }
        .staff-links {
          display: flex;
          gap: 1.5rem;
          grid-column: 7/11;
          grid-row: 1/2;
        }
      }
      .thinkers {
        grid-column: 5/12;
        .thinkers-title {
          margin-bottom: 1rem;
        }
        .thinker-item {
          margin-bottom: 0.3rem;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          column-gap: 1rem;
          align-items: baseline;
          .thinker-name {
            grid-column: 1/5;
          }
          .thinker-links {
            display: flex;
            gap: 1.5rem;
            grid-column: 5/8;
          }
        }
      }
      #blog-button {
        grid-column: 5/8;
      }
    }

    .partners {
      padding-top: 4rem;
      h2 {
        grid-column: 1/13;
        grid-row: 1;
      }

      .partner-container {
        @include twelve-col-grid;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;

        img.partner-logo {
          grid-column: 1/3;
          width: 80%;
        }
        .partner {
          grid-column: 3/13;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          gap: 5rem;
          margin-bottom: 3rem;
          .button {
            margin-top: 0;
          }
        }
      }
    }
    .support {
      @include twelve-col-grid;
      row-gap: 1rem;
      padding-bottom: 6rem;
      h2 {
        grid-column: 2/12;
        grid-row: 1/2;
        margin-bottom: 0;
      }
      div.dedication {
        grid-column: 2/9;
        grid-row: 2/3;
      }
      div.consultation {
        margin-right: 2rem;
        grid-column: 2/5;
        grid-row: 3/4;
      }
      div.thanks {
        grid-column: 5/12;
        grid-row: 3/4;
      }
      div.volunteers {
        grid-column: 5/12;
        grid-row: 4/5;
      }
    }
    .about-bg-ripple {
      // overflow-x: hidden;
      // position: absolute;
      // z-index: -1;
      // width: 100%;
      // opacity: 0.6;
      &#about-ripple-1 {
        height: 80vw;
        top: -8vw;
        img {
          right: 48vw;
          position: absolute;
          height: 100%;
        }
      }
      &#about-ripple-2 {
        height: 22vw;
        img {
          right: 10vw;
          position: absolute;
          height: 100%;
        }
      }
      &#about-ripple-3 {
        height: 52vw;
        top: 30vw;
        img {
          left: 58vw;
          position: absolute;
          height: 100%;
        }
      }
      &#about-ripple-4 {
        height: 40vw;
        top: 60vw;
        img {
          right: 56vw;
          position: absolute;
          height: 100%;
        }
      }
      &#about-ripple-5 {
        height: 70vw;
        top: -10vw;
        img {
          left: 44vw;
          position: absolute;
          height: 100%;
        }
      }
      &#about-ripple-6 {
        height: 18vw;
        img {
          right: -4vw;
          position: absolute;
          height: 100%;
        }
      }
      &#about-ripple-7 {
        height: 44vw;
        bottom: -27vw;
        img {
          left: -5vw;
          position: absolute;
          height: 100%;
        }
      }
    }
  }

  // Footer

  footer {
    @include twelve-col-grid;
    p,
    a {
      font-size: 1rem;
    }
    #footer-festival {
      grid-column: 1/3;
    }
    #footer-people {
      grid-column: 3/6;
    }
    #footer-contact {
      grid-column: 7/9;
    }
    #footer-social {
      grid-column: 10/11;
      .social {
        margin-top: 0;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
      }
      .social-icon svg {
        width: 1.75rem;
        display: inline-block;
      }
    }
    #footer-copyright {
      grid-column: 11/13;
    }
  }
}
