@use "constants" as *;

@media screen and (min-width: 720px) {
  h1,
  .h1 {
    font-size: 3.2rem;
  }
  h2,
  .h2 {
    font-size: 2.5rem;
  }
  h3,
  .h3 {
    font-size: 1.5rem;
  }
  h5,
  .h5 {
    font-size: 0.875rem;
  }

  .p1,
  span.p1,
  .p1r,
  .p1 p {
    font-size: 1.5rem;
  }

  .p2,
  span.p2,
  .p2r,
  .p2 p {
    font-size: 1.2rem;
  }

  a.button,
  div.button {
    padding: 0.2em 0.5em 0.1em 0.8em;
  }

  // Texture on all pages desktop style
  #fullpage-texture {
    position: relative;
    &::before {
      content: "";
      mix-blend-mode: color-dodge;
      position: fixed;
      background: url(assets/Overlay-desktop-New.jpg);
      background-size: cover;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0.15;
    }
    z-index: 11;
    pointer-events: none;
  }

  // Nav header ###########################################################

  nav.top {
    .menuVisible {
      display: block;
      margin-right: 1rem;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        list-style: none;
        align-items: center;

        li {
          a {
            @include nav-links;
            // text-transform: uppercase;
            text-decoration: none;
            color: $lightestBlue;
            letter-spacing: 1px;
            &:hover {
              color: $lightBlue;
            }
            &:focus {
              border-top: 1px solid $black;
            }
          }
        }
      }
    }

    .menuFull {
      // left: 120vw;

      // .bg-wrapper {
      //   &::before {
      //     content: "";
      //     position: absolute;
      //     width: 100%;
      //     overflow: hidden;
      //     top: 0px;
      //     right: 0px;
      //     bottom: 0px;
      //     left: 0px;
      //     opacity: 0.6;
      //   }
      // }
    }
  }

  // Front Page #########################################

  main.home {
    .heading {
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      min-height: 0;

      .top-shapes,
      .bottom-shapes {
        display: none;
      }
      .title-shape {
        display: block;
      }

      .title-images {
        width: 100%;
      }

      #title {
        padding: 4rem 1.5rem;
        .title-group {
          flex-flow: row nowrap;
          flex: 0 1 min-content;
          justify-content: center;
          p {
            text-align: left;
            align-self: center;
            width: min-content;
          }
        }
        svg {
          flex-shrink: 0.75;
          height: 12vw;
          width: auto;
        }
      }

      #title-shape-1 {
        width: 30%;
        max-width: 120px;
        background: linear-gradient(-81deg, #007ee5, #3ba4ca 73%);
      }
      #title-shape-2 {
        width: 30%;
        max-width: 200px;
        background: linear-gradient(180deg, $brightBlue, $brightPurple 100%);
        border-radius: 16px;
      }
      #title-shape-3 {
        width: 30%;
        max-width: 200px;
        border-radius: 51px;
        background: linear-gradient(
          49deg,
          $brightPurple,
          #5324ef 50%,
          #0079d5 100%
        );
      }
      #title-shape-4 {
        width: 30%;
        background: linear-gradient(180deg, $lightPurple, $brightPurple 100%);
        mask: radial-gradient(16px at 16px 16px, #0000 98%, #000) -16px -16px;
      }
      #title-shape-5 {
        width: 30%;
        max-width: 100px;
        background: linear-gradient($brightPurple, $deepBlue 100%);
        border-radius: 100%;
      }
      #title-shape-6 {
        width: 20%;
        max-width: 145px;
        background: linear-gradient(180deg, $lightPurple, #0c47b0 100%);
        border-radius: 25px;
      }
      #title-shape-7 {
        width: 20%;
        max-width: 120px;
        background: linear-gradient($brightBlue, #4e0dc8 100%);
      }
      #title-shape-8 {
        width: 20%;
        background: $brightBlue;
      }
    }

    #dates,
    #about,
    #artists,
    #mailing-list {
      padding-bottom: $seciton-padding-720;
    }

    #dates {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      // place-items: center;
      gap: 2rem;
      svg {
        position: relative;
        order: 1;
        padding: 0;
      }
      .date-text {
        order: 2;
        align-self: flex-start;
      }
      .date-locations {
        order: 3;
        align-self: flex-start;
        ul {
          margin: 0;
          padding: 0;
        }
      }
    }

    #about {
      @include twelve-col-grid;
      padding-top: 4rem;
      .about-frame {
        grid-column: 4/12;
        width: fit-content;
        height: fit-content;
      }

      .about-text {
        padding: 4rem 3rem;
        p {
        }
        a {
        }
        .byline {
          margin: 0;
          padding-bottom: 2rem;
          display: flex;
          flex-flow: column nowrap;
          #byline-1 {
            // align-self: flex-start;
          }
          #byline-2 {
            // align-self: flex-end;
          }
        }
        .curatorial {
        }
      }
    }

    #artists {
      padding-top: 4rem;
      @include twelve-col-grid;
      .artists-frame {
        grid-column: 2/12;
        width: fit-content;
        height: fit-content;
      }
      .artists-heading {
        margin: 0;
        grid-column: 6/12;
        grid-row: 1/2;
        justify-self: normal;

        h2 {
          max-width: 100%;
          grid-template-columns: repeat(6, 1fr);
          column-gap: 1rem;
          margin-bottom: -0.2em;
          #artists-count {
            grid-area: 1/1/ 2/7;
            justify-self: start;
          }
          #artists-projects {
            grid-area: 2/2/ 3/7;
          }
        }
      }
      .artists-buttons {
        grid-column: 3/6;
        grid-row: 1/2;
        align-self: center;
      }
      .artists-list {
        column-count: 3;
      }
    }
    #volunteer {
      column-gap: 1rem;
      p {
        grid-area: 1/3/ 2/8;
        padding-right: 2rem;
      }
      div.text {
        grid-area: 1/8/ 1/12;
        padding-right: 2rem;
      }
    }
    #mailing-list {
      column-gap: 1rem;
      .text {
        grid-area: 1/3/ 2/7;
        padding-right: 4rem;
      }
      #mc_embed_shell {
        grid-area: 1/7/ 2/11;
        font-family: $primary-type;
      }
    }
  }

  // Single Artist page #######################################

  main.artist-single {
    margin: 0;
    @include twelve-col-grid;
    grid-auto-rows: auto;
    .page-title {
      svg {
        width: 80%;
        height: auto;
      }
      padding-bottom: 0;
      display: flex;
      justify-content: center;
      grid-column: 1/13;
    }

    .project-img {
      align-self: start;
      justify-self: center;
      grid-column: 1/8;
      margin: -8rem 1.5rem 0 1.5rem;
      padding-top: 3rem;
      padding-bottom: 6rem;
      position: sticky;
      width: auto;
      height: auto;
      top: 3rem;
      z-index: 11;
    }

    div.project-info-grid {
      grid-column: 8/13;
      margin-top: -8rem;
      .day {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 1rem;
        align-items: top;
        padding: 0.5rem 0;
        h4 {
          grid-column: 1/6;
          grid-row: 1;
        }
        p.time {
          grid-column: 1/3;
          grid-row: 2;
          margin: 0px;
          padding: 0 1rem 0 0;
        }
        p.location {
          grid-column: 3/6;
          grid-row: 2;
          margin: 0px;
          padding: 0 1rem 0 0;
        }
      }
      .info-area {
        margin-bottom: 0;
      }
    }
  }

  // Schedule Page ##################################################

  main.schedule {
    padding-bottom: 0;
    .title {
      padding-bottom: 0;
      display: flex;
      justify-content: center;
      svg {
        width: 80%;
        height: auto;
      }
    }

    .schedule-container {
      margin: 0;
      margin-top: -2rem;
    }

    div.day {
      @include twelve-col-grid;
      margin-bottom: 4rem;
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 5rem;
      }
      width: 100%;
      &#saturday,
      &#sunday {
        margin-top: 0;
      }

      .day-header {
        grid-column: 1/5;
        grid-row: 1/2;
        align-self: flex-end;
      }

      .day-nav {
        grid-column: 5/13;
        grid-row: 1/2;
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
      }

      .public-program {
        grid-column: 1/5;
        min-height: 18rem;
      }

      .pp-time,
      .artist-time {
        margin: 0;
        flex-shrink: 0;
      }

      .project-schedule {
        grid-column: 1/13;
      }

      .artist-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 1rem;
        .button {
          display: none;
        }
        a.schedule-link {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
        }
        .artist-time {
          grid-column: 1/3;
        }
        .artist-name {
          grid-column: 3/6;
        }
        .title-location {
          grid-column: 6/9;
          display: flex;
          flex-flow: column nowrap;
          gap: 0.5rem;
        }

        .schedule-thumb {
          width: 200px; /* Adjust as necessary */
          height: 200px; /* Adjust as necessary */
          border-radius: 50%; /* Make the background circular */
          overflow: hidden; /* Ensure the image fits within the circle */
          background-size: cover;
          background-position: center;
          display: flex;
          justify-content: center;
          align-items: center;
          // grid-column: 10/13;
          position: absolute;
          z-index: -1;
          opacity: 0;
          top: -45;
          left: -14vw;
          transform: scale(0); /* Initially small */
          transition: all ease-in-out 0.3s;
        }

        .sched-thumb-image {
          width: 80%;
          height: 80%;
          border-radius: 50%; /* Circular mask for the thumbnail */
          object-fit: cover; /* Ensures the image covers the whole div */
        }

        &:hover {
          .schedule-thumb {
            transform: scale(1);
            opacity: 0.65;
          }
        }
      }

      .pp-container {
        a.program-link {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
        }
        display: flex;
        gap: 1rem;
      }
    }

    .positioner {
      display: flex;
      // height: 14vw;
      svg {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 20vw;
        width: auto;
        padding-right: 3rem;
      }
    }
  }

  // Public Programs page ###########################################

  main.public-programs {
    .program-container {
      @include twelve-col-grid;
      h3 {
        grid-column: 1/3;
      }
      p {
        grid-column: 3/7;
      }
      .date-time {
        grid-column: 7/11;
      }
      a {
        grid-column: 11/13;
        justify-self: right;
      }
      div.date {
        border: none;
        padding-top: 0;
      }
    }
  }

  // Artist listing page ####################################################

  main.artist-listing {
    .page-title {
      svg {
        width: 80%;
        height: auto;
      }
      padding-bottom: 0;
      display: flex;
      justify-content: center;
    }
    section.artists {
      margin-top: -2rem;
      @include twelve-col-grid;
      span.page-title {
        grid-column: 1/13;
        margin-bottom: 1rem;
      }
      .artist-container {
        border-top: 0;
        position: relative;
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 1rem;
        padding: 0 0 1rem;
        margin: 0;

        span.artist-letter {
          position: absolute;
          grid-column: 1/3;
          font-size: 6rem;
          padding-left: 1rem;
        }

        .artist-copy {
          position: relative;
          grid-column: 3/11;
          border-top: 1px solid $brightBlue;
          padding-top: 0.5rem;
        }
        a.button {
          display: none;
        }

        .list-thumb {
          // border: 3px solid $mustard;
          overflow: hidden; /* Ensure the image fits within the circle */
          display: flex;
          border-radius: 46px; /* Make the background circular */
          justify-content: center;
          align-items: center;
          grid-column: 10/13;
          position: absolute;
          opacity: 0;
          transform: scale(0); /* Initially small */
          top: -45;
          transition: all ease-out 0.3s;
        }

        .list-thumb-image {
          // border: 3px solid red;
          width: 100%;
          height: auto;
          // object-fit: cover; /* Ensures the image covers the whole div */
          border-radius: 46px; /* Make the background circular */
        }

        &:hover {
          .list-thumb {
            transform: scale(1); /* Initially small */
            opacity: 0.65;
          }
        }
      }

      .container-link {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

  // Donate page ############################################################

  main.donate {
    position: relative;
    min-height: 50%;
    .page-title {
      position: relative;
      z-index: 0;
      padding-bottom: 0;
      display: flex;
      justify-content: center;
      svg {
        max-width: 70%;
        height: auto;
      }
    }
    div.payment-method {
      position: relative;
      @include twelve-col-grid;
      z-index: 1;
      h3 {
        grid-column: 1/6;
      }
      p {
        grid-column: 7/12;
      }
      a {
        grid-column: 7/12;
        justify-self: end;
      }
      &.paypal {
        margin-top: -2rem;
      }
    }
  }

  // Press page ###########################################################

  main.press {
    min-height: calc(100vh - 20rem);
    .title {
      position: relative;
      z-index: 0;
      display: flex;
      justify-content: center;
      svg {
        max-width: 70%;
        height: auto;
      }
    }
    section.press-posts {
      margin-top: -2rem;
      padding-top: 0;
      .press-container {
        margin: 1rem 0;
        @include twelve-col-grid;
        .press-publication {
          grid-column: 1/6;
          grid-row: 1/2;
        }
        .press-title {
          margin-top: 0.5rem;
          grid-column: 4/8;
          grid-row: 1/2;
        }
        p.press-date {
          margin-top: 1rem;
          border-top: 0;
          padding-top: 0;
          grid-column: 9/12;
          grid-row: 1/2;
        }
        .button {
          grid-column: 11/13;
          justify-self: end;
          grid-row: 1/2;
        }
      }
    }
  }

  // About Page ############################################################

  main.about {
    .voice {
      @include twelve-col-grid;
      align-items: center;
      .title {
        grid-column: 1/13;
        grid-row: 1/2;
        width: 80%;
        align-self: center;
        justify-self: center;
      }
      .c-statement {
        grid-column: 5/13;
        grid-row: 2/3;
        // margin: 0;
        justify-self: end;
        p {
          margin-bottom: 1rem;
        }
      }
    }
    .festival {
      padding: 5rem 1.5rem;
      @include twelve-col-grid;
      grid-row-gap: 5rem;
      .mission {
        z-index: 1;
        margin-right: 2rem;
        grid-column: 2/9;
        grid-row: 1/2;
      }
      .festival-shape {
        width: 50vw;
        height: 42vh;
        position: absolute;
        top: 36%;
        left: 42%;
        z-index: 0;
        opacity: 60%;
        background: linear-gradient(92deg, $lightPurple, $brightPurple 100%);
        mask: radial-gradient(32px at 32px 32px, #0000 98%, #000) -32px -32px;
      }
      .history {
        z-index: 1;
        grid-column: 5/12;
        grid-row: 2/3;
        margin: 0;
      }
    }
    .people {
      @include twelve-col-grid;
      h2 {
        grid-area: 1 / 2 / 2 / 13;
      }
      .staff-item {
        margin-bottom: 0.2rem;
        grid-column: 2/12;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: 1rem;
        align-items: baseline;
        .staff-title {
          grid-column: 1/4;
          grid-row: 1/2;
        }
        .staff-name {
          grid-column: 4/7;
          grid-row: 1/2;
        }
        .staff-links {
          display: flex;
          gap: 1.5rem;
          grid-column: 7/11;
          grid-row: 1/2;
        }
      }
      .thinkers {
        grid-column: 5/12;
        .thinkers-title {
          margin-bottom: 1rem;
        }
        .thinker-item {
          margin-bottom: 0.3rem;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          column-gap: 1rem;
          align-items: baseline;
          .thinker-name {
            grid-column: 1/5;
          }
          .thinker-links {
            display: flex;
            gap: 1.5rem;
            grid-column: 5/8;
          }
        }
      }
      #blog-button {
        grid-column: 5/8;
      }
    }

    .partners {
      padding-top: 4rem;
      h2 {
        grid-column: 1/13;
        grid-row: 1;
      }

      .partner-container {
        @include twelve-col-grid;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;

        img.partner-logo {
          grid-column: 1/4;
          width: 100%;
        }
        .partner {
          grid-column: 4/13;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          gap: 1rem;
          margin-bottom: 3rem;
          .button {
            margin-top: 0;
          }
        }
      }
    }
    .support {
      @include twelve-col-grid;
      row-gap: 1rem;
      padding-bottom: 6rem;
      h2 {
        grid-column: 2/12;
        grid-row: 1/2;
        margin-bottom: 0;
      }
      div.dedication {
        grid-column: 2/9;
        grid-row: 2/3;
      }
      div.consultation {
        margin-right: 2rem;
        grid-column: 2/5;
        grid-row: 3/4;
      }
      div.thanks {
        grid-column: 5/12;
        grid-row: 3/4;
      }
      div.volunteers {
        grid-column: 5/12;
        grid-row: 4/5;
      }
    }
    .cloud {
      &#cloud-01 {
        top: -28vw;
        left: -24vw;
        height: 26vw;
      }
      &#cloud-02 {
        height: 15vw;
        top: 16vw;
        left: -7vw;
      }
    }
  }

  // Footer

  footer {
    @include twelve-col-grid;
    p,
    a {
      font-size: 1rem;
    }
    #footer-festival {
      grid-column: 1/3;
    }
    #footer-people {
      grid-column: 4/7;
    }
    #footer-contact {
      grid-column: 7/9;
    }
    #footer-social {
      grid-column: 10/11;
      .social {
        margin-top: 0;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
      }
      .social-icon svg {
        width: 1.75rem;
        display: inline-block;
      }
    }
    #footer-copyright {
      grid-column: 11/13;
    }
  }
}
